@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
  --color-1: rgb(93 8 8 / 1);
  --color-2: rgb(255 236 207 / 1);
  --color-3:  rgb(255 255 255);
  --color-4:rgb(93 8 8 / 0.85);
  --background-color-1:linear-gradient(180deg,rgba(255, 236, 207, 0.502) 0%, rgba(255, 236, 207, 0.502) 45%, rgba(255, 255, 255, 1) 36%, rgba(255, 255, 255, 1) 100%);
  --color-border-1:rgb(219, 203, 180);
  --color-cartas-1:rgba(255, 236, 207, 0.502);
  --color-texto-1:rgb(51 51 51 / 1);
  --color-texto-2:rgba(51, 51, 51, 0.8);
  --color-texto-3:rgba(51, 51, 51);
  --sombra-1:  0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
  --sombra-2:0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
  --sombra-3: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1), 0px 2px 80px -6px rgb(0 0 0 / .1);
  --radius-inferior: 0 0 1rem 1rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  border-width: 0;
  border-style: solid;
}
body{
  background-color: var(--color-2);
  min-height: 100vh;
}
main{
  display:flex;
  flex-direction:column;
}
a{
  text-decoration: none;
  color: #fff;
}
section{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.section-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding: 4rem 1rem;
}
.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.fila{
  flex-direction: row;
}
.column-revers{
  flex-direction: column-reverse;
}
.fila-revers{
  flex-direction: row-reverse;
}
.gap-1{
  gap: 1rem;
}
.gap-1_5{
  gap: 1.5rem;
}
.gap-2{
  gap: 2rem;
}
.centrado-primario{
  justify-content: center;
}
.centrado-secundario{
  align-items: center;
}
.izquierda-primario{
  justify-content:left;
}
.derecha-primario{
  justify-content:  right;
}
.arriba-secundario{
  align-items: start;
}
.abajo-secundario{
  align-items: end;
}
.grid{
  display: grid;
}
.centrado-primario-grid{
  justify-items: center
}
.centrado-secundario-grid{
  align-content: center;
}
.grid-column-2{
  grid-template-columns: repeat(2, minmax(0,1fr));
}
.between{
  justify-content: space-between;
}
.arround{
  justify-content: space-around;
}
.evenly{
  justify-content: space-evenly;
}
.mg-b-1{
  margin-bottom: 1rem;
}
.mg_r-l{
  margin-left: auto;
  margin-right: auto;
}
.pd_r-l{
  padding-left: 2rem;
  padding-right: 2rem;
}
.pd-2{
  padding: 2rem;
}
.pd-l{
  padding-left: 2rem;
}
.pd-r{
  padding-right: 2rem;
}
.pd_b-t_1{
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}
.backg-color-white{
  background-color: var(--color-3);
}
.backg-trans{
  background-color: transparent;
  color: var(--color-1);
  border-color: var(--color-1);
  border-width: 2px;
  transition: 0.2s all ease-in-out;
}
.backg-color-vine{
  background-color:var(--color-1);
  color: var(--color-3);
  transition: 0.2s all ease-in-out;
}
.backg-vine-hover:hover{
  background-color: var(--color-4);
}
.backg-trans-hover:hover{
  background-color: var(--color-1);
  color: var(--color-3);
}
.card-grande{
  padding: 1.5rem;
  box-shadow:var(--sombra-3);
  border-radius: var(--radius-inferior);
  border:2px solid var(--color-border-1);
}
.card-pequeña{
  padding: 2rem;
  box-shadow: var(--sombra-3);
  background-color: var(--color-3);
  border-radius: 1rem;
}
.animacion-1{
  view-timeline-name: --container;
  view-timeline-axis: block;

  animation-timeline: --container;
  animation-name: mostrar;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}
.animacion-2{
  animation: aparecer-left 1s ease-in-out;
  animation-fill-mode: forwards;
}
.animacion-3{
  animation: aparecer-right 1s ease-in-out;
  animation-fill-mode: forwards;
}
.animacion-4{
  animation: aparecer-top 1s ease-in-out;
  animation-fill-mode: forwards;
}

/*-------------------------------------------Barra Nav-------------------------------------*/

nav{
  background-color: var(--color-1);
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
nav > div{
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > div > a > i{
  font-size: 25px;
}
.mt{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.titulares{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.redes{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.div-mt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.div-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.div-link a{
  padding: 8px 16px;
  font-size: 17px;
  font-weight: 400;
  position: relative;
}
.div-link a::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-3);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}
.rrss{
  text-decoration: none;
  color: var(--color-3);
  font-size: 20px;
}
.rrss:hover {
  color:var(--color-2);
}
.div-link a:hover::before{
  transform: scaleX(1);
}

/*-----------------------------------Header--------------------------------------*/

header{
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-color: var(--color-2);
  position: relative;
}
.titulo{
  width: 50%;
}
.titulo h1{
  font-size: 3.75rem;
  line-height: 1;
  color: var(--color-1);;
  font-weight: 700;
  margin: 0;
}
.titulo h1>span{
  color: var(--color-texto-1);
}

.titulo h2{
  margin-top: 20px;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--color-texto-1);
  font-weight: 500;
}
.titulo .btn-titulo{
  margin-top:20px;
  display: flex;
  gap: 1rem;
}
.titulo .btn-titulo a{
  box-shadow: var(--sombra-2);
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: .75rem;
}
.img{
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.img > div{
  position: relative;
}
.img > div > div{
  width: 30rem;
  height: 30rem;
  box-shadow: var(--sombra-3);
  background-color: var(--color-1);
  border-color: var(--color-3);
  border-width: 6px;
  border-radius: 9999px;
  overflow: hidden;
}
.img > div > div > img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  max-width: 100%;
  display: block;
  animation: img-rotate 10s linear infinite;
  animation-delay: 2s;
}

/*----------------------------------------Perfil---------------------------------------------*/

.section-title{
  margin-bottom: 2rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: var(--color-1);
}
.img-perfil{
  width: 33.333333%;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}
.img-perfil > div{
  width: 18rem;
  height: 18rem;
  position: relative;
}
.img-perfil > div > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
}
.info-perfil{
  height: 15rem;
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.info-perfil > p{
  font-size:  1.2rem;
  color: var(--color-texto-1);
}

/*------------------------------------------Datos--------------------------------------------------------*/

.dt > div > div > div {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.dt > div > div > div > h5 {
  font-size: 14px;
  color: var(--color-1);
  font-weight: 500;
}
.dt > div > div > div > p {
  font-size: 16px;
  color: var(--color-texto-3);
}
.icon{
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: var(--sombra-1);
  background-color:var(--color-1);
  border-radius: 9999px;
}
.icon > i{
  color: var(--color-3);
}

/*----------------------------------------------Educación-------------------------------------------------*/
#educacion > div > div > div{
  padding: 1.5rem;
  box-shadow:var(--sombra-3);
  background: var(--background-color-1);
  border-radius: 1rem;
  border:2px solid var(--color-border-1);
}
.tx > div > div{
  gap: 0.2rem;
}
.tx > div > div > svg{
  color: var(--color-1);
}
.tx > div > div > h3{
  font-size: 20px;
  color:var(--color-texto-1);
}
.tx > div > div > p{
  font-size: 16px;
  color:var(--color-texto-2);
}
.tx > div > p{
  font-size: 16px;
  color:var(--color-texto-2);
  padding: 1rem 0 0.5rem 0;
}
.tx > div > ul{
  font-size: 16px;
  color:var(--color-texto-2);
  padding: 1rem 0 1rem 1rem;
  gap: 3rem;
}
.tx > div > ul li{
  list-style-type:circle;
}
.img-educacion{
  width: 12rem;
  height: 12rem;
  box-shadow: var(--sombra-1);
  border-color: var(--color-4);
  border-width: 12px;
  border-radius: 9999px;
  overflow: hidden;
}
.img-educacion > img{
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}



/*------------------------------------------Footer------------------------------------------------------*/
footer{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-1);
  color: #fff;
}
footer > div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer > div > div > div > hr{
  width: 3%;
  border: 1px solid #ffffff;
  border-radius: 20px;
}
footer > div > div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
footer > div > div > div{
  display: flex;
  gap: 20px;
  align-items: center;
}
.perfil,.experiencia, .proyectos{
  background-color: var(--color-1);
  color: #fff;
  height: 50vh;
  min-height: 50vh;
}
.educacion,.habilidades,.idiomas{
  height: 50vh;
  min-height: 50vh;
}

.perfil{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  padding: 10px 30px 10px 30px;
}
.perfil > div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  align-content: center;
}
.perfil > div > div{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 2rem;
  text-align: left;
}
.perfil > div > img{
  width: 20rem;
}

/*==========================
        Animaciones
==========================*/
@keyframes img-rotate {
  0%{
    content: url("./../img/foto.png");
    object-position: center;
    object-fit: contain;
    opacity: 100%;
  }
  10%{
    content: url("./../img/foto.png");
    object-position: center;
    object-fit: contain;
    opacity: 50%;
  }
  15%{
    content: url("./../img/foto.png");
    object-position: center;
    object-fit: contain;
    opacity: 0%;
  }
  20%{
    content: url("./../img/foto2.png");
    object-position: center;
    object-fit: contain;
    opacity: 0;
  }
  35%{
    content: url("./../img/foto2.png");
    object-position: center;
    object-fit: contain;
    opacity: 50%;
  }
  30%{
    content: url("./../img/foto2.png");
    object-position: center;
    object-fit: contain;
    opacity: 100%;
  }
  35%{
    content: url("./../img/foto2.png");
    object-position: center;
    object-fit: contain;
    opacity: 100%;
  }
  40%{
    content: url("./../img/foto2.png");
    object-position: center;
    object-fit: contain;
    opacity: 50%;
  }
  45%{
    content: url("./../img/foto2.png");
    object-position: center;
    object-fit: contain;
    opacity: 0%;
  }
  50%{
    content: url("./../img/foto5.png");
    object-position: center;
    object-fit: contain;
    opacity: 0%;
  }
  55%{
    content: url("./../img/foto5.png");
    object-position: center;
    object-fit: contain;
    opacity: 50%;
  }
  60%{
    content: url("./../img/foto5.png");
    object-position: center;
    object-fit: contain;
    opacity: 100%;
  }
  65%{
    content: url("./../img/foto5.png");
    object-position: center;
    object-fit: contain;
    opacity: 100%;
  }
  70%{
    content: url("./../img/foto5.png");
    object-position: center;
    object-fit: contain;
    opacity: 50%;
  }
  75%{
    content: url("./../img/foto5.png");
    object-position: center;
    object-fit: contain;
    opacity: 0%;
  }
  80%{
    content: url("./../img/foto.png");
    object-position: center;
    object-fit: contain;
    opacity: 0%;
  }
  85%{
    content: url("./../img/foto.png");
    object-position: center;
    object-fit: contain;
    opacity: 50%;
  }
  90%{
    content: url("./../img/foto.png");
    object-position: center;
    object-fit: contain;
    opacity: 100%;
  }
  100%{
    content: url("./../img/foto.png");
    object-position: center;
    object-fit: contain;
    opacity: 100%;
  }
}
@keyframes mostrar {
  from{
    opacity: 0;
    scale: 25%;
  }
  to{
    opacity: 1;
    scale: 100%;
  }

}
@keyframes aparecer-left {
  from{
    opacity: 0;
    transform: translateX(-100%);
  }
  to{
    opacity: 1;
    transform: translateX(0%);
  }

}
@keyframes aparecer-right {
  from{
    opacity: 0;
    transform: translateX(100%);
  }
  to{
    opacity: 1;
    transform: translateX(0%);
  }

}
@keyframes aparecer-top {
  from{
    opacity: 0;
    transform: translateY(-100%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }

}